body {
    margin: 0;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    background-color:#EDF2EC;;
    font-size: 18px;
    font-weight: 400;
    color: #010201;
    line-height: 1.5; 
}
*
*,
:before,
:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
span {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}
.header {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    max-height:134px ; 
}
.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 79px;
    height: 21px;
}
.nav__list {
    display: flex;
    list-style: none;
}
.nav__link {
    margin-right: 46px;
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}
.nav__link-last {
    margin-right: 0;
}
.welcome {
    margin-bottom: 93px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items:center;
}
.intro__item {
    margin-left: 224px;
    height: 340px;
}
.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-bottom: 35px;
}
.intro__title-green {
    color:#499A18;
}
.intro__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    height: 101px;
    margin-bottom: 48px;
}
.intro__btn {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 14px 27px;
    cursor: pointer;
}
.intro__btn:hover {
    background-color: #E06733;
}
.about {
    padding: 93px 0;
    background-color: #FFFFFF;
}
.about__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__item-left {
    margin-top: 68px;
}
.about__title {
    font-family: 'Inika';
    max-width: 463px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color:#E06733;
    margin-bottom: 40px;
}
.about__title-green {
    color:#499A18;
}
.about__text {
    width: 605px;
    height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.service__header {
    display: flex;
}
.service__title {
    width: 306px;
    margin-top: 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.service__btns {
    margin-top: 69px;
    margin-left: 142px;
}
.btn__red {
    padding: 12px 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-right: 38px;
    cursor: pointer;
}
.service__content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service__item {
    text-align: center;
    width: 33.33333%;
    margin-bottom: 91px;
    cursor: pointer;
    margin-left: auto;

}
.service__suptext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #E06733;
    margin: 10px 0;
}
.service__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #717171;
}
.prices {
    padding-top: 40px;
    background-color:#ffffff;
    padding-bottom: 115px;
}
.prices__content {
    display: flex;
    justify-content: space-between;
}
.prices__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.prices__title-right {
    line-height: 50px;
    text-align: right;
    width: 452px;
}
.prices__title-green {
    color:#499A18;
}
.prices__accordion {
    margin-top: 60px;
    display: block;
    justify-content: center;
    align-items:center;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;
}
.prices__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 16px 110px 16px 40px;
    margin-bottom: 32px;
    background: #EDF2EC;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
}
.prices__item:last-child {
    margin-bottom: 0;
}
.prices__name {
    width: 92px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
}
.prices__input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}
.prices__item::after {
    content:"";
    cursor: pointer;
    display: block;
    width: 2px;
    height: 2px;
    padding: 8px ;
    position: absolute;
    right: 10px;
    top: 35%;
    background: #D9D9D9;
    border: 0.5px solid #717171;
    border-radius:50px;
}
.prices__right {
   text-align: right;
}
.contact__btn {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 0;
    padding: 12px 30px;
}
.prices__img {
    display: block;
    margin-left: auto;
    padding-top: 51px;
    width: 152px;
    height: 175px;
}
.contacts {
    margin-top: 60px;
}
.contacts__item {
    display: flex;
    justify-content: space-between;
}
.contacts__title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.contacts__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    margin-left: 20px;
}
.contacts__according {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    margin-top: 83px;
}
.contacts__input {
    appearance: none;
}
.footer {
    background-color:#FFFFFF;
}
.footer__content {
    display: flex;
    justify-content:space-between;
    padding: 40px 0;
}
.footer__data h4, 
.footer__text {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-right: 20px;
}
.footer__text {
    margin-right: 0;
}
.social__link {
    margin-right: 31px;
    cursor: pointer;
}

@media(max-width:769px){
    .container {
        width: 100%;
        max-width: 668px;
    }
    .intro__title {
        font-size: 35px;
        line-height: 50px;
    }
    .intro__item {
        margin-left: 0;
        margin-right: 42px;
    }
    .intro {
        flex-direction: row-reverse;
    }
    .intro__subtitle {
        font-size: 16px;
        line-height: 25px;
        height: 105px;
        margin: 30px 0;
    }
    .intro__img {
        width: 280px;
        height: 254.15px;
    }
    .about {
        padding: 40px;
    }
    .about__title  {
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        width: 423px;
        height: 102px;
    }
    .about__title span {
        margin: 0;
    }
    .about__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .about__item-left {
        max-width: 668px;
        width:100%;
        height: 350px;
        margin: 0 auto;
    }
    .about__img {
        margin: 0 auto;
        width: 250px;
        height: 258px;
    }
    .service__header {
        display: block;
    }
    .service__btns {
        margin-left: 10px;
    }
    .service__item {
        width: 50%;
        margin-right: 0;
    }
    .service__photo {
        width: 280px;
        height: 350px;
    }
    .prices__title {
        width: 296px;
        font-size: 25px;
        line-height: 35px;
    }
    .prices__title-right {
        margin-top: 80px;
    }
    .prices__accordion {
        width: 332px;
        height: 282px;
    }
    .contacts {
        margin-top: 40px;
    }
    .contacts__item {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .contacts__title {
        order: 2;
    }
    .contacts__according {
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 250px;
    }
    .contacts__img {
        width: 200px;
        height: 248.49px;
        order: 0;
        margin: 0 auto;
    }
    .footer__data,
    .footer__text {
        font-size: 20px;
        line-height: 24px;
    }
    .footer__text {
        margin-top:16px;
    }
    .social {
        margin-top: 30px;
    }
    .footer__content {
        display: block;
        text-align: center;
    }
    .social__link {
        width: 32px;
        height: 32px;
    }
    
}
@media(max-width:381px){
    .container {
        max-width: 330px;
        width: 100%;
    }
    .nav {
        display: none;
    }
    .intro__img {
        display: none;
    }
    .intro__title {
        font-size: 25px;
        line-height: 35px;
        width: 330px;
        height: 72px;
    }
    .intro__subtitle {
        width: 314.52px;
        height: 105.42px;
        font-size: 16px;
        line-height: 25px;
    }
    .about__title {
        width: 288px;
        height: 57.74px;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
    }
    .about__text {
        width: 330px;
        height: 228.38px;
        font-size: 15px;
        line-height: 25px;
    }
    .about__img {
        width: 150px;
        height: 147px;
    }
    .service__content {
        display:block;
    }
    .service__item {
        margin: 34px 0;
        text-align: center;
    }
    .service__suptext,
    .service__text {
        width: 200px;
        margin-left: 60px;
    }
    .prices__content {
        display: block;
    }
    .prices__img {
        display: none;
    }
    .prices__right {
        text-align: left;
    }
    .contacts__title {
        font-size: 25px;
        line-height: 33px;
    }
    .contacts__according {
        width: 300px;
        height: 50px;
    }
}
















